{% extends 'index.html'%}

{% block content %}
   
<div class='inputDiv' id="dataInputDiv">

    <h1>
        Dog Breed Classification App 
    </h1>

    <h2>
        Input data:
    </h2>
    <form class="imageLoader" name="upload_image" id="upload_image" enctype="multipart/form-data">
        <!--
        <label for="img">Upload image from camera:</label>
        <input type="file" id="cameraUpload" accept="image/*" name="cameraUpload" capture="camera" value="Take Photo" onchange="previewPhoto()">
        -->
        <label for="img">Upload image from camera or file:</label>
        <input type="file" id="fileUpload" name="fileUpload" accept="image/*" value="File" onchange="previewPhoto(event)">
        <button id="upload_image_btn" type="button" onclick="return loadImage(event)">Upload</button>
      </form>
      <!--<progress></progress>-->

  </div>

  <div class='inputDiv'>
    <img id="frame" src="" width="255px" height="255px"/>
</div>

<div class='inputDiv'>
  <h2>
    Result:
</h2>
    <ol>
        <li id="pred1">
            First Prediction
        </li>
        <li id="pred2">
            Second Prediction
        </li>
        <li id="pred3">
            Third Prediction
        </li>
    </ol>
</div>

{% endblock %}


